!!! 5
/
  View source of maxified Sass and CoffeeScript files at:
  https://github.com/arjaneising/curriculum-vitae/
%html{ :lang => 'en' }
  %head
    %title Curriculum Vitae of Arjan Eising
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'viewport', :content => 'initial-scale=1, maximum-scale=1' }
    %link{ :rel => 'stylesheet', :media => 'screen,projection', :href => './styles/screen.css' }
    /[if lte IE 8]
      %script{ :src => './scripts/html5.js' }
    %script (function(q,u,e,r,i,o,s){q['QuerioObject']=r;q[r]=function(){(q[r].q||(q[r].q=[])).push({a:arguments,t:+new Date});};q[r].t=+new Date;q[r].k=i;s=u.createElement(e);s.asynch=s.src='http://querio.irrvy.com/querio/que.js';o=u.getElementsByTagName(e)[0];o.parentNode.insertBefore(s,o);})(window,document,'script','que','5735124265124491da33636ad0d7e973');

  %body
    %header.header
      %h1 Curriculum Vitae of Arjan Eising



    %nav.inline-menu
      %ul
        %li
          %a{ :href => '#personalia' } Personalia
        %li
          %a{ :href => '#employable-as' } Employable as
        %li
          %a{ :href => '#education' } Education
        %li
          %a{ :href => '#it-knowledge' } IT knowledge
        %li
          %a{ :href => '#profile' } Profile
        %li
          %a{ :href => '#languages' } Languages
        %li
          %a{ :href => '#work-experience' } Work Experience



    %section#personalia
      %h2 Personalia
      %dl
        %dt Name
        %dd Arjan Eising

        %dt Address
        %dd Hilvertsweg 202

        %dt Postal code
        %dd 1214 JM

        %dt City
        %dd Hilversum

        %dt Telephone
        %dd
          %a{ :href => 'tel:0031644542330' } +31 6 4454 2330

        %dt Email address
        %dd
          %a{ :href => 'mailto:arjan@arjaneising.nl' } arjan@arjaneising.nl

        %dt Gender
        %dd Male

        %dt Marital status
        %dd Single

        %dt Date of birth
        %dd 24 november 1988

        %dt Nationality
        %dd Dutch

        %dt Driver's license
        %dd Dutch driver's license B for cars and motor bikes.



    %section#employable-as
      %h2 Employable as
      %p I'm available as freelance front-end webdeveloper. Specialized in JavaScript, I can work on large web based applications and the client side of high traffic websites.



    %section#education
      %h2 Education
      %table
        %tr
          %td The Guerilla Film Makers Masterclass
          %td London
          %td
            %a{ :href => 'http://www.guerillamasterclass.com/' } Guerilla
          %td 2013
        %tr
          %td Various one-day workshops on design, accessibility and typography.
          %td Utrecht
          %td
            %a{ :href => 'http://fronteers.nl/workshops' } Fronteers
          %td 2011–2012
        %tr
          %td CreativeJS
          %td Amsterdam
          %td
            %a{ :href => 'http://seb.ly/training' } Seb-Lee Delisle
          %td 2011
        %tr
          %td BSc Mathematics <small>(unfinished)</small>
          %td Groningen
          %td
            %a{ :href => 'http://www.rug.nl/bachelors/mathematics' } University of Groningen
          %td 2010–2011
        %tr
          %td BSc Artificial Intelligence <small>(unfinished)</small>
          %td Groningen
          %td
            %a{ :href => 'http://www.rug.nl/bachelors/artificial-intelligence' } University of Groningen
          %td 2008–2010
        %tr
          %td VWO (pre-university secondary education)
          %td Beilen & Assen
          %td <a href="http://csgbeilen.com/">CSG Beilen</a> and <a href="http://www.csvincentvangogh.nl/">CS Vincent van Gogh</a>
          %td 2001–2008

      %p Besides workshops, I also like to attend conferences. To name a few: all Fronteers conferences (seven so far! 2007–‘13), dConstruct (2011, ‘12, ‘13), the London Screenwriters' Festival (2013), Full Frontal (2012) and @media (2008).



    %section#it-knowledge
      %h2 IT knowledge

      %h3 Operating systems and software
      %ul.ratings
        %li
          Apple Mac OS X
          %span.selfrate{ :title => 'Excelent' } ★★★★
        %li
          Unix terminal
          %span.selfrate{ :title => 'Proper' } ★★
        %li
          Git
          %span.selfrate{ :title => 'Good' } ★★★
        %li
          Adobe Photoshop
          %span.selfrate{ :title => 'Proper' } ★★

      %h3 Programming languages
      %ul.ratings
        %li
          HTML
          %span.selfrate{ :title => 'Excelent' } ★★★★
        %li
          CSS
          %span.selfrate{ :title => 'Excelent' } ★★★★
        %li
          JavaScript
          %span.selfrate{ :title => 'Excelent' } ★★★★
        %li
          PHP
          %span.selfrate{ :title => 'Proper' } ★★
        %li
          Ruby
          %span.selfrate{ :title => 'Good' } ★★★
        %li
          Haml
          %span.selfrate{ :title => 'Good' } ★★★
        %li
          Sass & Compass
          %span.selfrate{ :title => 'Excelent' } ★★★★
        %li
          CoffeeScript
          %span.selfrate{ :title => 'Excelent' } ★★★★

      %h3 Programming frameworks
      %ul.ratings
        %li
          jQuery
          %span.selfrate{ :title => 'Excelent' } ★★★★
        %li
          Ruby on Rails
          %span.selfrate{ :title => 'Proper' } ★★
        %li
          AngularJS
          %span.selfrate{ :title => 'Proper' } ★★



    %section#profile
      %h2 Profile
      %p I'm a devotee of everything related to client side web development. As front-end web developer I have over seven years of professional experience on various medium and large scale websites and applications.
      %p Semantics, coding style, readable code and performance. It is what I stand for and fight for on a project.
      %p I started writing HTML when I just left primary education. During the time on secondary education, I started my own business. Shortly after graduating pre-university education, I co-founded the Dutch trade organization for front-end developers: <a href="http://fronteers.nl">Fronteers</a>.
      %p New tools and languages are very important for me. It is not good to stick with something if there are other, better ones available.
      %p Well argumented critiscism can count on a proper response from me. I like to work in a team where the bars are set high, and can comment on other people theirs code in the same way I like to get it.



    %section#languages
      %h2 Languages
      %ul
        %li Dutch (native): listening, reading and writing.
        %li English: listening, reading and writing all at proper level.



    %section#work-experience
      %h2 Work Experience

      %h3 Freelance front-end webdeveloper and trainer at Irrvy

      %dl
        %dt Employer
        %dd <a href="http://irrvy.com">Irrvy</a> <small>(self employed)</small>

        %dt Location
        %dd Hilversum

        %dt Term
        %dd February 2007–present

        %dt Duty
        %dd Freelance front-end webdeveloper and trainer

        %dt Software environment
        %dd Mac OS X, Ruby, MySQL, PostgreSQL

      %h4 Description of proceedings

      %p During my work on location for clients as freelance developer, I have worked on various medium to large scaled websites and -applications.

      %p I have worked on websites that needed to work with mobile or on other touch devices. Scripts written for those platforms are in some degree also published as open source project.

      %p Also, I give trainings on JavaScript related subjects, like the jQuery framework.

      %h4 Clients include

      %ul
        %li
          Wakoopa
          %small Software usage analyser, September 2008
        %li
          Stromboli Tekst en Beeld
          %small Various WordPress websites, during 2008–2009
        %li
          Swaak
          %small Custom editor, August 2010
        %li
          SURFnet
          %small Student self service portal, September–December 2012
        %li
          GoAbout
          %small Interface of travel planner, January–April 2013
        %li
          %em Non-disclosable client
          %small April–June 2013
        %li
          FOX Sports
          %small June-August 2013
        %li
          Booking.com
          %small August-November 2013

      %hr

      %h3 Front-end webdeveloper at Springest

      %dl
        %dt Employer
        %dd
          %a{ :href => 'http://www.springest.com' } Springest

        %dt Location
        %dd Amsterdam

        %dt Term
        %dd June 2011–August 2012

        %dt Duty
        %dd Front-end webdeveloper

        %dt Software environment
        %dd Mac OS X, Ruby (on Rails), MySQL

      %h4 Description of proceedings

      %p When I started at Springest, a webdesigner just finished the designs for the new look and feel. Together with another front-end webdeveloper, I implemented most of the front-end and quite some back-end code in CakePHP. The majority of the JavaScript was written by me.

      %p A few months later, a start was made to rewrite everything in Ruby on Rails, for which I did a lot of Haml, Sass and CoffeeScript coding.

      %hr

      %h3 Front-end webdeveloper at mediaCT

      %dl
        %dt Employer
        %dd
          %a{ :href => 'http://www.mediact.nl' } mediaCT

        %dt Location
        %dd Groningen

        %dt Term
        %dd Januari 2011–June 2011

        %dt Duty
        %dd Front-end webdeveloper

        %dt Software environment
        %dd Mac OS X, Windows, PHP, MySQL, Magento, Drupal

      %h4 Description of proceedings

      %p As Jack of all trades I worked on various templates for Magento, as well as implemtentation of after-release whishes for Magento webshops.

      %hr

      %h3 Front-end webdeveloper at Mangrove

      %dl
        %dt Employer
        %dd
          %a{ :href => 'http://www.mangrove.com/en' } Mangrove

        %dt Location
        %dd Rotterdam

        %dt Term
        %dd April 2010–August 2010

        %dt Duty
        %dd Front-end webdeveloper

        %dt Software environment
        %dd Mac OS X, PHP, MySQL

      %h4 Description of proceedings

      %p Worked as service employee to implement after-release client whishes on websites running on a content management system Mangrove developed for herself.

      %hr

      %h3 Webdeveloper at Esquintes

      %dl
        %dt Employer
        %dd
          %a{ :href => 'http://esquintes.nl/' } Esquintes

        %dt Location
        %dd Groningen

        %dt Term
        %dd June 2005–March 2010 <small>(Part time job)</small>

        %dt Duty
        %dd Webdeveloper

        %dt Software environment
        %dd Windows, PHP, MySQL, Joomla

      %h4 Description of proceedings

      %p Worked on implementations of designs and scripts for Joomla websites.

      %hr

      %h3 Front-end webdeveloper at Info.nl

      %dl
        %dt Employer
        %dd
          %a{ :href => 'http://www.info.nl/en' } Info.nl

        %dt Location
        %dd Amsterdam

        %dt Term
        %dd June 2008–August 2008 <small>(Holiday job)</small>

        %dt Duty
        %dd Front-end webdeveloper

        %dt Software environment
        %dd Windows, PHP

      %h4 Description of proceedings

      %p Worked in teams with talented interaction and visual designers on large websites.

    %script{ :src => './scripts/cv.js' }