/* line 7, ../src/sass/screen.sass */
* {
  border: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 13, ../src/sass/screen.sass */
body {
  color: #222222;
  font: 62.5% "Lucida Grande", Lucida, Arial, sans-serif;
  margin: 0 5% 0 25%;
  position: relative; }
  @media (max-width: 800px) {
    /* line 13, ../src/sass/screen.sass */
    body {
      margin: 0; } }
  @media (max-width: 1000px) {
    /* line 13, ../src/sass/screen.sass */
    body {
      font-size: 57.5%; } }
  @media (min-width: 1200px) {
    /* line 13, ../src/sass/screen.sass */
    body {
      font-size: 67.5%; } }
  @media (min-width: 1400px) {
    /* line 13, ../src/sass/screen.sass */
    body {
      font-size: 72.5%; } }

/* line 35, ../src/sass/screen.sass */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, progress, section, summary, video {
  display: block; }

/* line 38, ../src/sass/screen.sass */
.animate-scroll {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s; }

/* line 41, ../src/sass/screen.sass */
p,
ul,
ol,
th,
td,
dt,
dd,
hr {
  font-size: 1.8em;
  line-height: 1.8em; }
  /* line 52, ../src/sass/screen.sass */
  p p,
  p ul,
  p ol,
  ul p,
  ul ul,
  ul ol,
  ol p,
  ol ul,
  ol ol,
  th p,
  th ul,
  th ol,
  td p,
  td ul,
  td ol,
  dt p,
  dt ul,
  dt ol,
  dd p,
  dd ul,
  dd ol,
  hr p,
  hr ul,
  hr ol {
    font-size: 1em; }

/* line 57, ../src/sass/screen.sass */
p,
ul,
ol {
  margin-bottom: 1.8em; }

/* line 62, ../src/sass/screen.sass */
h1 {
  font-size: 3.6em;
  line-height: 1.8em;
  padding: 1.1em 1.9em 0.9em; }
  @media (max-width: 800px) {
    /* line 62, ../src/sass/screen.sass */
    h1 {
      padding-left: 0.55556em;
      padding-right: 0.55556em; } }

/* line 71, ../src/sass/screen.sass */
h2 {
  font-size: 2.7em;
  line-height: 1.8em;
  margin: 0.375em 0 0.125em; }

/* line 76, ../src/sass/screen.sass */
h3 {
  font-size: 1.8em;
  line-height: 1.8em;
  margin: 1.8em 0 0; }

/* line 81, ../src/sass/screen.sass */
h4 {
  font-size: 1.8em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.8em;
  margin: 1.8em 0 0; }

/* line 88, ../src/sass/screen.sass */
h2 + h3 {
  margin-top: 1.9875em; }

/* line 91, ../src/sass/screen.sass */
table {
  border-collapse: collapse; }
  /* line 94, ../src/sass/screen.sass */
  table td {
    padding: 0.45em 0.9em; }
  /* line 97, ../src/sass/screen.sass */
  table tr:nth-child(even) td {
    background: #eeeeee; }

/* line 101, ../src/sass/screen.sass */
ul li {
  list-style: disc; }

/* line 105, ../src/sass/screen.sass */
.ratings li {
  list-style: none; }

/* line 109, ../src/sass/screen.sass */
dl dt,
dl dd {
  display: inline-block;
  vertical-align: top; }
/* line 114, ../src/sass/screen.sass */
dl dt {
  margin-right: 0.5em;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 35%; }
  /* line 121, ../src/sass/screen.sass */
  dl dt::after {
    color: #cccccc;
    content: "· · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · ·";
    font-size: 0.5em;
    margin-left: 1em; }
/* line 127, ../src/sass/screen.sass */
dl dd {
  width: 60%; }
  /* line 130, ../src/sass/screen.sass */
  dl dd:after {
    content: "\A";
    white-space: pre; }
@media (max-width: 800px) {
  /* line 135, ../src/sass/screen.sass */
  dl dt,
  dl dd {
    width: 100%; }
  /* line 139, ../src/sass/screen.sass */
  dl dt {
    font-style: italic; }
    /* line 142, ../src/sass/screen.sass */
    dl dt::after {
      display: none; }
  /* line 145, ../src/sass/screen.sass */
  dl dd {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 2em; } }

/* line 149, ../src/sass/screen.sass */
small {
  font-size: 0.55em; }

/* line 152, ../src/sass/screen.sass */
a {
  color: #707e9f; }
  /* line 155, ../src/sass/screen.sass */
  a:visited {
    color: #ad6694; }
  /* line 158, ../src/sass/screen.sass */
  a:hover {
    color: #222222; }

/* line 161, ../src/sass/screen.sass */
hr {
  background: transparent;
  height: 0.9em;
  margin: 1.8em 0;
  overflow: hidden;
  position: relative; }
  /* line 168, ../src/sass/screen.sass */
  hr::before {
    color: #cccccc;
    content: "· · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · · ·";
    font-size: 0.5em;
    left: 0;
    position: absolute;
    right: 0;
    top: -0.8em;
    white-space: nowrap;
    z-index: 2; }
  /* line 179, ../src/sass/screen.sass */
  hr::after {
    background: white;
    content: "∞";
    color: #dddddd;
    left: 0;
    line-height: 0.9em;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    width: 2em;
    z-index: 3; }

/* line 193, ../src/sass/screen.sass */
.selfrate {
  color: #999999;
  cursor: help;
  font-size: 0.8em; }

/* line 198, ../src/sass/screen.sass */
nav.inline-menu {
  font-size: 0.8em;
  left: 5%;
  position: fixed;
  top: 3.25em;
  width: 20%; }
  /* line 205, ../src/sass/screen.sass */
  nav.inline-menu li {
    list-style: none; }
  /* line 208, ../src/sass/screen.sass */
  nav.inline-menu a {
    background: #f2f2f2;
    color: #222222;
    display: block;
    padding: 0.45em;
    text-decoration: none; }
    /* line 215, ../src/sass/screen.sass */
    nav.inline-menu a:hover {
      background: #e5e5e5;
      color: #222222;
      display: block;
      padding: 0.45em;
      text-decoration: none; }
  /* line 222, ../src/sass/screen.sass */
  nav.inline-menu .active a {
    background: #cbcbd6; }
  @media (max-width: 800px) {
    /* line 198, ../src/sass/screen.sass */
    nav.inline-menu {
      background: #f2f2f2;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      left: auto;
      padding: 2em;
      overflow: hidden;
      position: static;
      top: auto;
      width: 100%; }
      /* line 235, ../src/sass/screen.sass */
      nav.inline-menu a {
        background: transparent;
        float: left;
        margin-right: 1em; } }

/* line 240, ../src/sass/screen.sass */
section {
  padding: 6.48em; }
  @media (max-width: 800px) {
    /* line 240, ../src/sass/screen.sass */
    section {
      padding: 6.48em 2em; } }
